.wenzi,
.wenzi2,
.wenzi3,
.wenzi4,
.wenzi5,
.wenzi6,
.wenzi7 {
  display: none;
  font-size: 50px;
  position: absolute;
  top: 130px;
  width: 510px;
  left: 250px;
  z-index: 52;
}
.next,
.nexttwo {
  color: red;
  font-size: 45px;
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 52;
}
.nexttwo {
  display: none;
}
#abiaoqian {
  display: none;
  background-color: rgba(255, 0, 0, 0);
  width: 181px;
  height: 159px;
  position: absolute;
  bottom :40px;
  right: 6px;
  z-index: 9999999999999999999999999999999;
}
